*.VC.db
*.bin
*.check_cache
*.cmake
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.keep
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.o.d
*.obj
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.user
*cache
*~ml
.vs
/libcul/libcul/nbproject/Package*
Build-Linux/*
Build-Windows/*
CMakeFiles/
build
intermediate
libcul/libcul/nbproject/Makefile-*
libcul/obj
private*.xml
runTestsDir/*.so
tests/libculTests/dist
tests/libculTests/nbproject/Makefile-*
tests/libculTests/nbproject/Package*
