*.VC.db
*.bin
*.check_cache
*.cmake
*.dir*
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.keep
*.lastcodeanalysisissucceded
*.lib
*.log
*.make
*.marks
*.o
*.o.d
*.obj
*.opendb
*.opensdf
*.pdb
*.sdf
*.so
*.suo
*.tlog
*cache
*~ml
.vs
Build*
CMakeFiles/
build
intermediate
libcul/obj
libcul/Makefile
private*.xml
runTestsDir/*.so
*.a
/deps/Makefile
