[submodule "deps/circular_buffer"]
	path = deps/circular_buffer
	url = https://github.com/boostorg/circular_buffer.git
[submodule "deps/assert"]
	path = deps/assert
	url = https://github.com/boostorg/assert.git
[submodule "deps/config"]
	path = deps/config
	url = https://github.com/boostorg/config
[submodule "deps/static_assert"]
	path = deps/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "deps/type_traits"]
	path = deps/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "deps/throw_exception"]
	path = deps/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "deps/core"]
	path = deps/core
	url = https://github.com/boostorg/core.git
[submodule "deps/move"]
	path = deps/move
	url = https://github.com/boostorg/move.git
[submodule "deps/concept_check"]
	path = deps/concept_check
	url = https://github.com/boostorg/concept_check.git
[submodule "deps/preprocessor"]
	path = deps/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:g-truc/glm.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = git@github.com:google/googletest.git
    ignore = dirty
[submodule "deps/boost/assert"]
	path = deps/boost/assert
	url = git@github.com:boostorg/assert.git
[submodule "deps/boost/circular_buffer"]
	path = deps/boost/circular_buffer
	url = git@github.com:boostorg/circular_buffer.git
[submodule "deps/boost/concept_check"]
	path = deps/boost/concept_check
	url = git@github.com:boostorg/concept_check.git
[submodule "deps/boost/config"]
	path = deps/boost/config
	url = git@github.com:boostorg/config.git
[submodule "deps/boost/core"]
	path = deps/boost/core
	url = git@github.com:boostorg/core.git
[submodule "deps/boost/move"]
	path = deps/boost/move
	url = git@github.com:boostorg/move.git
[submodule "deps/boost/preprocessor"]
	path = deps/boost/preprocessor
	url = git@github.com:boostorg/preprocessor.git
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "deps/boost/static_assert"]
	path = deps/boost/static_assert
	url = git@github.com:boostorg/static_assert.git
[submodule "deps/boost/throw_exception"]
	path = deps/boost/throw_exception
	url = git@github.com:boostorg/throw_exception.git
[submodule "deps/boost/type_traits"]
	path = deps/boost/type_traits
	url = git@github.com:boostorg/type_traits.git
[submodule "deps/boost/variant"]
	path = deps/boost/variant
	url = git@github.com:boostorg/variant.git
[submodule "deps/boost/type_index"]
	path = deps/boost/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "deps/boost/container_hash"]
	path = deps/boost/container_hash
	url = git@github.com:boostorg/container_hash.git
[submodule "deps/stb"]
	path = deps/stb
	url = git@github.com:nothings/stb.git
[submodule "deps/tiny-image"]
	path = deps/tiny-image
	url = git@github.com:charlesdong/tiny-image.git
    ignore = dirty
[submodule "deps/GSL"]
	path = deps/GSL
	url = git@github.com:microsoft/GSL.git
[submodule "deps/helpers"]
	path = deps/helpers
	url = git@github.com:bartekordek/helpers.git
[submodule "deps/opencv"]
	path = deps/opencv
	url = git@github.com:opencv/opencv.git
[submodule "deps/cppcheck"]
	path = deps/cppcheck
	ignore = dirty
	url = git@github.com:danmar/cppcheck.git
[submodule "deps/libpng"]
	path = deps/libpng
	url = git@github.com:LuaDist/libpng.git
[submodule "deps/zlib"]
    ignore = dirty
	path = deps/zlib
	url = git@github.com:madler/zlib.git
[submodule "deps/hash-library"]
	path = deps/hash-library
	url = git@github.com:stbrumme/hash-library.git
[submodule "deps/udp-discovery-cpp"]
	path = deps/udp-discovery-cpp
	url = git@github.com:bartekordek/udp-discovery-cpp.git
[submodule "deps/boost/stacktrace"]
	path = deps/boost/stacktrace
	url = git@github.com:boostorg/stacktrace.git
[submodule "deps/boost/array"]
	path = deps/boost/array
	url = git@github.com:boostorg/array.git
[submodule "deps/boost/detail"]
	path = deps/boost/detail
	url = git@github.com:boostorg/detail.git
[submodule "deps/boost/integer"]
	path = deps/boost/integer
	url = git@github.com:boostorg/integer.git
[submodule "deps/boost/predef"]
	path = deps/boost/predef
	url = git@github.com:boostorg/predef.git
[submodule "deps/boost/winapi"]
	path = deps/boost/winapi
	url = git@github.com:boostorg/winapi.git
[submodule "deps/tracy"]
	path = deps/tracy
	url = git@github.com:wolfpld/tracy.git
