*.bin
*.check_cache
*.cmake
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.keep
*.lastcodeanalysisissucceded
*.log
*.make
*.marks
*.o
*.o.d
*.obj
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.user
*.VC.db
*cache
*~ml
private*.xml
build
libcul/libcul/nbproject/Makefile-*
CMakeFiles/
runTestsDir/*.so
tests/libculTests/dist
tests/libculTests/nbproject/Makefile-*
tests/libculTests/nbproject/Package*
/libcul/libcul/nbproject/Package*
